.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-bottom: 30px;
}

h3 {
	margin-bottom: 30px;
}

li {
	text-decoration: none;
	margin: 5px 10px;
	width: 30%;
}

a {
	width: 100%;
	padding: 10px;
}

ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
}
